<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29277506988-2m8e2jujug6i88kkke94u7j2aj7cp58v</string>
	<key>API_KEY</key>
	<string>...</string>
	<key>GCM_SENDER_ID</key>
	<string>29277506988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jacobhill.Never-Have-I-Ever</string>
	<key>PROJECT_ID</key>
	<string>never-have-i-ever-jh</string>
	<key>STORAGE_BUCKET</key>
	<string>never-have-i-ever-jh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:29277506988:ios:722115fe70d3bd2427be09</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-6125040056818928~2616924127</string>
</dict>
</plist>
